# BEGIN WordPress
# ההוראות (שורות) בין "BEGIN WordPress" לבין "END WordPress" הן
# נוצר באופן דינמי, ויש לשנות אותן רק באמצעות פילטרים של וורדפרס.
# כל שינוי בהוראות בין סממנים אלה ידרס.

# END WordPress
